<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StrangerThings</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/chatbox.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>
<body>
  <div class="container">
    <div class="row container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header navbarman">
            <a class="navbar-brand logo" href="/">Room</a>
            <a class="navbar-brand logo" href="/">Browse Rooms</a>
            <a class="navbar-brand logo" href="/profile">Profile</a>
            <a class="navbar-brand logo" href="/logout">Logout</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="chatbox container">
      <div id="display" class="display"></div>
      <div class="row misc">
        <textarea id="input" class="input" rows="8" cols="80"></textarea>
        <div class="button">
          <p onselectstart="return false">Send</p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/chatbox.js"></script>
</body>
</html>
