<!DOCTYPE html>
<html>

<head>
    <title>Stranger app</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>

<body>

    <div>
        <form action="login" method="post">
            <label>Email</label><br>
            <input id="error-container" type="email" name="email"><br>

            <label>Password</label><br>
            <input type="password" name="password"><br>

            <input type="submit" value="Login">
        </form>
    </div>
<script type="text/javascript">
    {{msg}}
</script>
</body>

</html>
