<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
       <style>

      legend{
          font-variant: small-caps;
          font-size: 30px;
      }
      fieldset{
          width:40%;


      }
      div
      {
          margin-left: 38.5%;
          margin-top: 10%;
      }
        body
        {
            background-color: lavender;
        }
        .log
        {
            background-color: green;
            color:white;
        }
        fieldset
        {
            background-color:lavenderblush;
        }

        </style>
    </head>
    <body>

     <div>
         <fieldset >
             <legend >Profile</legend>
        <p>Name:<%- user.name %></p>
        <p>Email:<%- user.email %></p>
        <p>Phone:<%- user.phone %></p>
        <p>Gender:<%- user.gender %></p>
        <form action="logout" method="post">
            <input class="log" type="submit" value="Log out">
        </form>
        </fieldset>
        </div>
        <br><br>
        <form action="display" method="post">
            <input type="submit" value="View all Topics">
        </form>
        <br><br>
        <form action="create" method="post">
            <label>Create a New Topic to discuss:</label><br>
            <input type="text" name="topic">
            <br>
            <input type="submit" value="Create">
        </form>
    </body>
</html>
