<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
       <link rel="stylesheet" href="stylesheets/profile.css">
    </head>
    <body>

     <div>
         <fieldset >
             <legend >Profile</legend>
        <p>Name:<%- user.name %></p>
        <p>Email:<%- user.email %></p>
        <p>Phone:<%- user.phone %></p>
        <p>Gender:<%- user.gender %></p>
        <form action="logout" method="get">
            <input class="log" type="submit" value="Log out">
        </form>
        </fieldset>
        </div>
        <br><br>
        <form action="display" method="get">
            <input type="submit" value="View all Topics">
        </form>
        <br><br>
        <form action="create" method="post">
            <label>Create a New Topic to discuss:</label><br>
            <input type="text" name="topic">
            <br>
            <input type="submit" value="Create">
        </form>
    </body>
</html>
