<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
       <link rel="stylesheet" href="stylesheets/profile.css">
    </head>
    <body>

     <div class="profile">
         <fieldset >
             <legend >Profile</legend>
        <p><b>Name:</b><%- user.name %></p>
        <p><b>Email:</b><%- user.email %></p>
        <p><b>Phone:</b><%- user.phone %></p>
        <p><b>Gender:</b><%- user.gender %></p>
        <form action="logout" method="get">
            <input class="log" type="submit" value="Log out">
        </form>
        </fieldset>
        </div>
        <br><br>
        <div class="topic">
        
        <form action="create" method="post">
            <label><b><i>Create a new topic to discuss:</i></b></label><br>
            <input type="text" name="topic">
            <br>
            <input class="create" type="submit" value="Create">
        </form>
        
        <span>OR</span>
        
        <form  action="display" method="get">
            <input class="view" type="submit" value="View all topics">
        </form>
        
        </div>
    </body>
</html>
